<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<table border=1>
	<tr>
		<td> Name </td>
		<td> Email </td>
	</tr>
	<% @users.each do |user| %>
	<tr>
		<td><%= user.name %></td>
		<td><%= user.email %></td>
	</tr>
	<% end %>
</table>

<%= link_to "Add User", users_new_path %>

<%= form_for :user, url: users_path do |f| %>
	Name:<%= f.text_field :name%><br/>

	Email:<%= f.email_field :email%><br/>

	<%= f.submit %>
<% end %>
